*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 22px;
    color: black;
}

.color-green{
    color: green;
}

.color-yellow{
    color: yellow;
}
.color-red{
    color: red;
}
.color-orange{
    color: orange;
}

.botao-entrar{
    border-radius: 5px;
    padding: 5px;
    border-style: none;
    color: white;
    background-color: rgb(211, 43, 226);
}

.botao-entrar-outline{
    border-radius: 5px;
    border: 2px solid rgb(211, 43, 226);
    padding: 5px;
    background-color: white;
    color: rgb(211, 43, 226);
}